<section class="hero is-info is-bold">
  <div class="hero-body">
      <div class="container">
          <h1 class="title is-4">Admin login</h1>

      </div>
  </div>
</section>
<div class="main">
  <section class="section">


    <div class="container">
      <form (ngSubmit)="loginForAdmin()">
          <div class="field">
              <label class="label">User name</label><i class="fa fa-user fa-2x px-1"></i>
              <input class="input is-info" style="width: 10%;" type="text" placeholder="Username" required name="usernameAdmin" [(ngModel)]="usernameAdmin">
          </div>

          <div class="field">
              <label class="label">Password </label><i class="fa fa-user fa-2x px-1"></i>
              <input class="input is-info" style="width: 10%;" type="string" placeholder="Password" required name="passwordAdmin" [(ngModel)]="passwordAdmin">
          </div>

          <button type="submit" class="button is-small is-info">
              Log in!</button>
      </form>
    </div>

  </section>
  <br><br><br><br><br><br><br><br><br>
</div>
