.navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-size: large;
    font-weight: 500;
}

.recenica {
    color: rgb(22, 86, 151);
    ;
}

.body {
    /* background-color: #cfe6fe; */
    height: 1700px;
    width: 100%;
    background-color: black;
}

.main {
    background-color: #cfe6fe;
}

.navbar-item {
    color: white
}

.pretraga {
    font-size: large;
    font-weight: 500;
    color: black;
    background-color: #cfe6fe;
}

.datum {
    font-size: medium;
    font-weight: 500;
    color: rgb(22, 86, 151)
}

.red {
    font-size: 15px;
}

.button2 {
    font-size: 12px;
    background-color: #307ce0;
    color: white;
}

.rezultati {
    font-size: large;
    font-weight: 500;
    color: black;
    background-color: #cfe6fe;
}

.adminKontejner{
  width: 80%;
  margin: 8rem auto 0 auto;
}

.adminovDeo {
    background-color: #f4f4f4;
    padding: 2rem;
    border-radius: 5px;
    color: #333;
}

.adminovDeo input, label{
  color: #333!important;
}

.adminovDeo label{
  font-weight: 600;
}

.adminovDeo button{
  margin-left: 40px;
}

table {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    font-weight: 500;
    font-size: large;
    color: black
}

th {
    align-items: center;
    background-color: #73a9d3;
    border: 1px solid black;

}

td {
    background-color: #b3b7bb;
    border: 1px solid black;
}

.container {
    background-color: black;
    width: 750px;
    align-items: center;
}

.carousel {
    text-align: center;
    width: 700px;
}

.picsum-img-wrapper {}

.slika {
    height: 400px;
    width: 610px;
}

.opisSlajda {
    font-size: medium;
}

.slikaTipa {
    height: 250px;
    width: 410px;
}

.tipAviona {
    text-align: left;
    width: 600px;
}

.imeTipa {
    text-indent: 130px;
}

.opisTipa {}
