<body class="body has-text-centered ">
    <app-header></app-header>


    <br><br>
    <div class="container">
        <div class="carousel">
            <br><br>
            <ngb-carousel>
                <ng-template ngbSlide *ngIf="images2">
                    <a (click)="slide1(1)">
                        <div class="picsum-img-wrapper">
                            <img class="slika" [src]="images2[0]" alt="Random first slide">
                        </div>
                        <div class="carousel-caption">
                            <h1>Najpovoljniji letovi </h1>
                            <p class="opisSlajda">Kliknite da bi vam se učitala tabela sa najpovoljijim letovima.</p>
                        </div>
                    </a>
                </ng-template>
                <ng-template ngbSlide>
                    <a (click)="slide2()">
                        <div class="picsum-img-wrapper">
                            <img class="slika" [src]="images2[1]" alt="Random second slide">
                        </div>
                        <div class="carousel-caption">
                            <!-- <h1>Najbolje ocenjeni prevoznik.</h1> -->
                            <p class="opisSlajda">Ovde mozete videti najbolje ocenjeni prevoznik od strane nasih putnika.</p>
                        </div>
                    </a>
                </ng-template>
            </ngb-carousel>
        </div>
    </div>
    <br>

    <br>
    <div class="form-group">
        <h1 style="color:white; font-size: 20px;">Ovde mozete rezervisati let.</h1>
        
        <br><br>
        <div class="d-inline">
            <form (ngSubmit)="pretrazi()">
                <input class="datum" type="date" name="datum" [(ngModel)]="datum"> &nbsp;
                <mat-icon style="color:white">flight_takeoff</mat-icon>&nbsp;
                <input class="input is-info " type="text" style="width: 200px; height:30px" placeholder="Polazni" name="polazni" [(ngModel)]="polazni"> &nbsp;
                <mat-icon style="color:white">flight_land</mat-icon>&nbsp;<input class="input is-info" type="text" style="width: 200px; height:30px" placeholder="Dolazni" name="dolazni" [(ngModel)]="dolazni"> &nbsp;
                <button class="button is-info is-small" type="submit">
                     Search
                </button>
            </form>
        </div>
        <br>
        <div *ngIf="p">

            <table style="width:60%">
                <tr>
                    <th class="px-2"> Polazak</th>
                    <th class="px-2"> Dolazak</th>
                    <th class="px-2"> Datum</th>
                    <th class="px-2"> Vreme polaska</th>
                    <th class="px-2"> Vreme dolaska</th>
                    <th class="px-2"> Prevoznik</th>
                    <th class="px-2"> Ekonomska klasa (cena)</th>
                    <th class="px-2"> Biznis klasa (cena)</th>
                    <th class="px-2"> Tip aviona</th>
                    <th class="px-2"> Rezervisi</th>
                </tr>

                <tr *ngFor="let l of letovi">
                    <td> {{l.polazak}}</td>
                    <td> {{l.dolazak}}</td>
                    <td> {{l.datum}}</td>
                    <td> {{l.vreme_polaska}}</td>
                    <td> {{l.vreme_dolaska}}</td>
                    <td><a (click)="klikni(l.id)">{{l.prevoznik_ime}}</a></td>
                    <td> {{l.cena_ekonomska}}</td>
                    <td> {{l.cena_biznis}}</td>
                    <td><a (click)="tip(l.id)">{{l.tip}}</a></td>
                    <td>
                        <form (ngSubmit)="rezervisi(l.id)">
                            <button class="button is-info is-small" type="submit">
                            Rezervisi
                            </button>
                        </form>
                    </td>
                </tr>

            </table>

            <br><br>
            <div class="tipAviona" *ngIf="tipAviona"><br>
                <p class="imeTipa" >{{tipAviona[0]}}</p><br>
                <img class="slikaTipa" src={{tipAviona[2]}} > <br><br>
                <h4 class="opisTipa">{{tipAviona[1]}}</h4> <br>
            </div>

            <p *ngIf="popust">{{popustMsg}}</p>

        </div>
    </div>



    <div class="adminKontejner " *ngIf="auth.isAdmin()">
        <div class="tile is-vertical is-10">
            <div class="tile ">
                <article class="tile is-child notification">
                    <div class="adminovDeo has-text-centered" *ngIf="auth.isAdmin()">
                        <form (ngSubmit)="unesiNoviLet()">
                            &nbsp;
                            <label style="font-weight: 500; font-size: large; color:rgb(255, 255, 255);">Unesi novi let</label><br>
                            <br> &nbsp;
                            <input class=" input is-info " type="text " style="width: 150px; height:30px " placeholder="Polazni " name="polazniAdmin" [(ngModel)]="polazniAdmin"> &nbsp;&nbsp;
                            <input class="input is-info " type="text " style="width: 150px; height:30px " placeholder="Dolazni " name="dolazniAdmin" [(ngModel)]="dolazniAdmin"> &nbsp;&nbsp;

                            <select [(ngModel)]='prevoznik' name="s">
                                <option *ngFor="let p of prevozniciList" value="{{p.id}}">{{p.ime}}</option>
                            </select> &nbsp;
                            <div class="select is-link is-small">

                                <select [(ngModel)]='selected' name="s">
                                      <option *ngFor="let t of tipovi">{{t}}</option>
                                </select>
                                <span style="color:rgb(255, 255, 255); font-weight:bold" *ngIf="selected=='jednokratno'">Datum i vreme<br>
                                    <input type="date" style="width: 110px; height:20px " name="datumAdmin" [(ngModel)]="datumAdmin"><br>
                                    <input type="text" style="width: 110px; height:20px " placeholder="Vreme polaska"  name="vremePolaska" [(ngModel)]="vremePolaska">&nbsp;-&nbsp;
                                    <input type="text" style="width: 110px; height:20px " placeholder="Vreme dolaska"  name="vremeDolaska" [(ngModel)]="vremeDolaska">
                                </span>
                                <span style="color:white; font-weight:bold" *ngIf="selected=='svakodnevno' || selected=='radniDan'">Vreme<br>
                                  <input type="text" style="width: 110px; height:20px " placeholder="Vreme polaska"  name="vremePolaska" [(ngModel)]="vremePolaska">&nbsp;-&nbsp;
                                  <input type="text" style="width: 110px; height:20px " placeholder="Vreme dolaska"  name="vremeDolaska" [(ngModel)]="vremeDolaska">
                                </span>

                            </div>&nbsp;&nbsp;


                            
                            <label style="font-weight: 500; color:rgb(255, 255, 255);">Cena karte(ekonomska) : </label>
                            <input class="input is-info " type="number " style="width: 80px; height:30px " placeholder="€" name="cenaEkonomska" [(ngModel)]="cenaEkonomska"> &nbsp;&nbsp;
                            <label style="font-weight: 500; color:rgb(255, 255, 255);">Cena karte(biznis) : </label>
                            <input class="input is-info " type="number " style="width: 80px; height:30px " placeholder="€" name="cenaBiznis" [(ngModel)]="cenaBiznis"> &nbsp;&nbsp;
                            <br><br><br>
                            <label style="font-weight: 500; color:rgb(255, 255, 255);">Slobodna mesta : </label>
                            <input class="input is-info " type="number " style="width: 80px; height:30px " placeholder="" name="slobodnaMesta" [(ngModel)]="slobodnaMesta"> &nbsp;&nbsp;


                            <button class="button is-info is-small " type="submit ">
                                Unesi
                            </button>
                            <br><br><br><br><br><br>
                        </form>


                    </div>
                </article>
            </div>


        </div>

    </div>
    <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
</body>