<app-header></app-header>

<body class="body">
  <br><br><br><br>
  <div class="container">
    <div class="col-md-12" *ngFor="let p of prevoznici">
      <a (click)="klikni(p.id)">
        <div class="card h-100" style="width: 18rem;">
          <img src={{p.slika}} class="card-img-top" alt="Placeholder image">
          <div>
            <div class="card-body">
              <h1 class="card-title">{{p.ime}} <span class="ocena px-3">{{p.ocena}}<mat-icon class="star px-2">star
                  </mat-icon></span></h1>
              <h5 class="card-subtitle mb-2 text-muted">{{p.opis}}</h5>
            </div>
          </div>
        </div>
      </a>
      <br>
    </div>
  </div>
</body>
