.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 5em;
    background-color: black;
}

.card {
    height: max-content;
}

img {
    width: 100%;
    height: 200px;
    display: block;
}

.card-title {
    color: #1976d2;
}

.star {
    color: rgb(158, 158, 11);
}
body{
    background-color: black;
   height: 1160px;
}
