<body class="body">
    <app-header></app-header>
    <br><br><br>
    <div class="container px-6" *ngIf="prevoznik">

        <div class="p-6">
            <span class="h1">{{prevoznik.ime}}</span>

            <br><br>
            <div class="row">
                <div class="col-md-4 slika w-50">
                    <img src={{prevoznik.slika}} class="img-fluid">
                </div><br>
                <div class="col-md-5 oceni">
                    <h2 class="px-2">OCENI PREVOZNIKA<br></h2>
                    <ngb-rating class="stars px-2" [max]="5" [(rate)]="currentRate" [readonly]="false">
                    </ngb-rating><br>
                    <button class="button is-info is-small px-5" (click)="oceni(prevoznik.id)">OCENI</button><label class="px-4">Ocena : {{prevoznik.ocena}}</label>

                    <div class="form-group blue-border"><br>
                        <textarea class="form-control" id="inputKomentar" rows="3" name="komentar" [(ngModel)]="komentar" placeholder="Dodaj komentar..."></textarea>
                    </div><br>
                    <button class="button" (click)="dodajKom()">Komentarisi</button>
                </div>

            </div><br>
            <div class="opis px-2">
                <h2 class="h2">OPIS</h2>
                {{prevoznik.opis}}<br><br>
            </div>
        </div>

        <div class="p-5 ">
            <h1>KOMENTARI</h1>
            <br>
            <div *ngFor="let k of comments">
                <article class="media">

                    <div class="media-content">


                        <article class="media">
                            <figure class="media-left">

                            </figure>
                            <div class="media-content">
                                <div class="content">
                                    <p class="komentar">
                                        <br>{{k}}

                                    </p>
                                </div>


                            </div>
                        </article>


                    </div>
                </article>
            </div>
        </div>
        <br>
        <article class="media">

            <figure class="media-left">


            </figure>
            <br>
        </article>
    </div>

</body>
